<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
  <%= javascript_import_module_tag "toBlank" %>
<% end %>

<h1>Quotes</h1>
  
<div class="container_new">
  <!-- ■■■■■■■■■■turbo該当箇所■■■■■■■■■■ -->
  <%= turbo_frame_tag "new_quote" do %>
      <%= render "form", quote: @quote %>
  <% end %>
</div>

<!-- ■■■■■■■■■■turbo該当箇所■■■■■■■■■■ -->
<%= turbo_frame_tag "quotes" do %>
  <%= render @quotes %>
<% end %>
