<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Turbotest</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
        
    <div id="flash">
      
      <!-- ■■■■■■■■■■turbo該当箇所■■■■■■■■■■ -->
      <%= render "flash" %>
    </div>

    <%= yield %>

  </body>

</html>
